<div class="register-container">
  <h2>Register</h2>
  <form fxLayout="column" fxLayoutAlign="center" class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field class="form-group" style="width: 45%">
        <input matInput placeholder="FirstName" required formControlName="firstName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
        <mat-error *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">FirstName is required</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group" style="width: 45%">
        <input matInput placeholder="LastName" required formControlName="lastName" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
        <mat-error *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">LastName is required</div>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="form-group">
      <input matInput placeholder="Email" required formControlName="email" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
      <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <input style="width: 50%" type="password" matInput placeholder="Password" required formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <input type="password" matInput placeholder="ConfirmedPassword" required formControlName="confirmedPassword" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.confirmedPassword.errors }"/>
      <mat-error *ngIf="submitted && f.confirmedPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmedPassword.errors.required">ConfirmedPassword is required</div>
      </mat-error>
    </mat-form-field>

    <div fxLayout="column" class="register-links">
      <button style="margin-top: 10px;" [disabled]="registerForm.invalid" mat-raised-button type="submit" color="primary" >Register</button>
      <button style="margin-top: 10px;" mat-stroked-button routerLink="/login" color="primary">Login</button>
    </div>
    <mat-spinner *ngIf="loading" style="margin: 20px auto auto auto"></mat-spinner>
  </form>
</div>
