<div class="profil-view">
  <h3>Profil</h3>
  <form class="profil-form" fxLayout="column" (ngSubmit)="onSubmit()">

    <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 10px;">
      <mat-form-field style="color: white">
        <mat-label style="color: white">Type</mat-label>
        <mat-select [disabled]="userService.isEmployee()" style="color: white" [(value)]="type">
          <mat-option value="Employee">Employee</mat-option>
          <mat-option value="Manager">Manager</mat-option>
          <mat-option value="Admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field style="width: 45%">
        <input name="firstName" matInput placeholder="Firstname" [(ngModel)]="firstName">
      </mat-form-field>
      <mat-form-field style="width: 45%">
        <input name="lastName" matInput placeholder="Lastname" [(ngModel)]="lastName">
      </mat-form-field>
    </div>
    <mat-form-field>
      <input name="email" matInput placeholder=Email [(ngModel)]="email">
    </mat-form-field>

    <button type="submit" [disabled]="!isFormValid()" style="margin-top: 10px" mat-raised-button color="primary"> Update profil</button>
    <mat-spinner *ngIf="loading" style="margin: 20px auto auto auto;"></mat-spinner>
  </form>
</div>
