<app-navbar *ngIf="userService.currentUserValue"></app-navbar>
<mat-sidenav-container class="app-view">
  <mat-sidenav class="sidenav" mode="side" [opened]="userService.currentUserValue && userService.sidenavOpened">
    <div style="text-align: center">
      <h4>Clock</h4>
      <div *ngIf="clockService.currentClock">
        <h4>{{clock | date:'H:mm:ss'}}</h4>
        <button mat-raised-button color="warn" *ngIf="clockService.currentClock.status" (click)="clockService.clock()">Stop Clock</button>
        <button mat-raised-button color="primary" *ngIf="!clockService.currentClock.status" (click)="clockService.clock()" >Start Clock</button>
      </div>
    </div>
    <mat-divider style="margin-top: 10px"></mat-divider>
    <mat-action-list>
      <button mat-list-item routerLink="" > Dashboard  </button>
      <button mat-list-item routerLink="workingtimes" > Working times </button>
      <button mat-list-item routerLink="teams" > Teams </button>
      <button mat-list-item routerLink="users" > Users </button>
    </mat-action-list>
    <a mat-list-item (click)='installApp()' *ngIf='showInstallButton'>
      <mat-icon mat-list-icon>download</mat-icon>
      <div mat-line>Installer l'application</div>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


